# #WEEK1 E1
author name: Keerthan kumar c
  class: III Sem Btech DSE
   Section and Batch:B Section Batch B1
   Roll no: 2
   Reg no:220968002

# Create Python program to find the average of 10 numbers using while loop

In [4]:
i=1
print("This is the program to find average of 10 numbers")
sum=0
while(i<=10):

    
    n=int(input("Enter your number"))
    sum=sum+n
    i=i+1

avg=sum/10
print("The average is:",avg)

This is the program to find average of 10 numbers

Enter your number5

Enter your number10

Enter your number15

Enter your number20

Enter your number25

Enter your number30

Enter your number35

Enter your number40

Enter your number45

Enter your number50

The average is: 27.5

# Create Python program to find the geometric mean of n numbers

In [5]:
print("This is the program to find geometric mean of n number")
n=int(input("Please enter the total number of numbers to be entered"))
i=1
sum=0
while(i<=n):
    a=int(input("Enter your number"))
    sum=sum+a
    i=i+1
mean=sum/n
print("The geometric mean is: ",mean)

This is the program to find geometric mean of n number

Please enter the total number of numbers to be entered4

Enter your number2

Enter your number4

Enter your number6

Enter your number8

The geometric mean is:  5.0

# Create Python program to check whether the given integer is a prime number or not

In [12]:
n=int(input("Please enter your integer"))
flag=1
if(n==0):
    print("please enter a integer other than 0")
if(n==1):
    print("1 is neither prime nor composite")
if(n==2):
    print("the entered integer is prime")
if(n!=0 and n!=1 and n!=2):
    for i in range(2,n):
        if((n%i)==0):
            flag=0
            break
        else:
            flag=1
    if(flag==1):
        print("The entered integer is prime")
    else:
        print("The entered integer is not prime")

Please enter your integer20

The entered integer is not prime

# Create Python program to implement linear search and implement binary search

# by linear search

In [15]:
a=[]
n=int(input("Enter number of elements in array "))
for i in range(0,n):
    c=int(input("Enter your number "))
    a.append(c)
d=int(input("Enter number to be searched "))
for i in range(0,n):
    if(a[i]==d):
        flag=1
        pos=i+1
        break
    else:
        flag=0
if(flag==1):
    print("The item has been searched and found at position ",pos)
else:
    print("Item not found in array")

Enter number of elements in array4

Enter your number2

Enter your number4

Enter your number6

Enter your number8

Enter number to be searched6

The item has been searched and found at position  3

# by binary search

In [ ]:
a=[]
n=int(input("Enter number of elements in array "))
for i in range(0,n):
    c=int(input("Enter your number "))
    a.append(c)
d=int(input("Enter number to be searched "))
low=0
high=n-1

while(low<=high):
    mid=(low+high)//2
    if(d==a[mid]):
        pos=mid+1
        flag=1
        break
    if(d>a[mid]):
        low=mid+1
    else:
        high=mid-1
if(flag==1):
    print("The item has been searched and found at position ",pos)
else:
    print("Item not found in array")

# Using math package, Create Python program to find the area of a triangle whose sides are given

In [ ]:
import math


a = float(input("Enter the first side length of the triangle: "))
b = float(input("Enter the second side length of the triangle: "))
c = float(input("Enter the third side length of the triangle: "))
s = (a + b + c) / 2
area = math.sqrt(s * (s - a) * (s - b) * (s - c))

print("The area of the triangle is", area)

# EXERCISE 1: - Introduction to Pandas

# Data frame creation and manipulation

# Create a data frame with details of 10 students and columns as Roll Number, Name, Gender, Marks1, Marks2, Marks3.

In [2]:
import pandas as pd

In [3]:
sample={
    "Roll number":[1,2,3,4,5,6,7,8,9,10],
    "Name":["Keerthan","ganesh","he","him","abc","aaa","bbb","ccc","chandru","jaya"],
    "gender":["m","f","m","f","m","f","m","f","m","f"],
    "marks1":[10,12,12,31,14,16,46,89,88,90],
    "marks2":[30,12,62,31,14,16,46,89,88,90],
    "marks3":[50,12,82,31,14,16,46,89,88,90],


}

df=pd.DataFrame(sample)
print(df)

   Roll number      Name gender  marks1  marks2  marks3
0            1  Keerthan      m      10      30      50
1            2    ganesh      f      12      12      12
2            3        he      m      12      62      82
3            4       him      f      31      31      31
4            5       abc      m      14      14      14
5            6       aaa      f      16      16      16
6            7       bbb      m      46      46      46
7            8       ccc      f      89      89      89
8            9   chandru      m      88      88      88
9           10      jaya      f      90      90      90

In [4]:
print(df.marks1)

0    10
1    12
2    12
3    31
4    14
5    16
6    46
7    89
8    88
9    90
Name: marks1, dtype: int64

# Create a new column with total marks

In [5]:
df["total"]=df.marks1+df.marks2+df.marks3
print(df)

   Roll number      Name gender  marks1  marks2  marks3  total
0            1  Keerthan      m      10      30      50     90
1            2    ganesh      f      12      12      12     36
2            3        he      m      12      62      82    156
3            4       him      f      31      31      31     93
4            5       abc      m      14      14      14     42
5            6       aaa      f      16      16      16     48
6            7       bbb      m      46      46      46    138
7            8       ccc      f      89      89      89    267
8            9   chandru      m      88      88      88    264
9           10      jaya      f      90      90      90    270

# Find the lowest marks in Marks1

In [6]:
low=df.marks1.min()
print("lowest marks in marks1 is: ",low)

lowest marks in marks1 is:  10

# Find the Highest marks in Marks2

In [7]:
high=df.marks2.max()
print("Highest marks in marks2 is: ",high)

Highest marks in marks2 is:  90

# Find the average marks in Marks3

In [8]:
avg=df.marks3.mean()
print("Average marks in marks3 is: ",avg)

Average marks in marks3 is:  51.8

# Find student name with highest average

In [9]:
list(df[df["total"] == df["total"].max()].get("Name"))[0]

'jaya'

# Find how many students failed in Marks2 (<40)

In [10]:
a=len((df.marks2)<40)
print("Number of students with less than 40 marks are: ",a)

Number of students with less than 40 marks are:  10